::selection {
  color: var(--text-selection-color);
  background-color: var(--text-selection-background-color);
}

* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  background-color: var(--background-color);
  font-family: monospace;
  color: white;
}

body {
  overflow-x: hidden;
}

main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header" 
    "des des des"
    "f2l oll pll";
}

main h1, main h1 + p {
  text-align: center;
  margin: 1rem;
}

main h1 {
  font-size: 3rem;
  grid-area: header;
}

main h1 + p {
  grid-area: des;
}

section {
  width: 90%;
  margin-bottom: 1rem;
}

section a {
  display: grid;
  grid-template-columns: 1fr 10fr;
  row-gap: 1rem;
  text-decoration: none;
}

section a .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

section a .img svg {
  width: 10rem;
  height: 10rem;
}

section a .img svg g {
  opacity: 1;
  stroke-width: 0;
  stroke-opacity: 0.5;
  stroke-linejoin: round;
}

section a .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr;
  background-color: var(--algorithm-background-color);
}

section a .description h1, 
section a .description p {
  background-color: var(--algorithm-background-color);
}

@media (max-width: 1200px) {
  main {
    row-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header" 
      "des"
      "f2l"
      "oll"
      "pll";
  }
}