::selection {
  color: var(--text-selection-color);
  background-color: var(--text-selection-background-color);
}

* {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: monospace;
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  counter-reset: no;
}

section {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "num num" "img alg";
  gap: 1rem;
}

section .num {
  grid-area: num;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--index-background-color);
  padding: 0.5rem;
}

section .img {
  grid-area: img;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--algorithm-background-color);
}

section .img svg {
  width: 10rem;
  height: 10rem;
  background-color: var(--background-color);
}

section .img svg g {
  opacity: 1;
  stroke-width: 0;
  stroke-opacity: 0.5;
  stroke-linejoin: round;
}

section .img .btnGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  --background-color: rgb(0 0 0 / 1);
  background-color: var(--background-color);
}

section .img .btnGroup button {
  background-color: var(--background-color);
  margin: 0.5rem;
  width: 90%;
}

section .algorithms {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: alg;
  align-items: center;
  justify-items: center;
  background-color: var(--algorithm-background-color);
  counter-reset: lmao;
}

section .algorithms .algorithm-row {
  width: 100%;
  display: grid;
  grid-template-columns: 26fr 3fr 3fr 8fr;
  column-gap: 0.5rem;
  align-items: center;
  justify-items: center;
  background-color: var(--algorithm-background-color);
}

section .algorithms .loadMore {
  width: 90%;
  text-align: center;
  background-color: var(--algorithm-background-color);
  padding: 0.5rem;
  margin: 1rem;
  transition: background-color 0.25s;
}

section .algorithms .loadMore:hover {
  background-color: var(--primary-color);
}

section .algorithms .algorithm-row:first-child {
  padding: 1rem 0 0.5rem 0;
  background-color: var(--algorithm-background-color);
}

section .algorithms .algorithm-row .algorithm::before {
  counter-increment: lmao;
  content: counter(lmao) ". ";
}

section .algorithms .algorithm-row p {
  background-color: var(--algorithm-background-color);
}

section .algorithms .algorithm-row .vote {
  background-color: var(--algorithm-background-color);
}

section .algorithms .algorithm-row .gen {
  background-color: var(--algorithm-background-color);
}

section .algorithms .algorithm-row button {
  padding: 0.5rem;
  margin: 0.5rem;
}

section .algorithms .algorithm-row button[data-state]::before {
  content: attr(data-state);
}

section .algorithms .algorithm-row button[data-state="Not Learned"] {
  background-color: var(--button-state-notlearn);
}

section .algorithms .algorithm-row button[data-state="Learning"] {
  background-color: var(--button-state-learning);
}

section .algorithms .algorithm-row button[data-state="Learned"] {
  background-color: var(--button-state-learned);
}

@media (width <= 700px) {
  section {
    grid-template-columns: 1fr;
    grid-template-areas: "num" "img" "alg";
  }
}

@media (width <= 1550px) {
  article {
    grid-template-columns: 1fr;
  }
}